<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Wi-Fi On / Off</name>
        <version>1.0</version>
        <author>kindle-weather</author>
        <id>kindlewifitoggle</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
