<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Set Date &amp; Time</name>
        <version>1.0</version>
        <author>kindle-weather</author>
        <id>kindlesetdatetime</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
